<div>
    <h1>Registro</h1>
    <form action="/api/users" method="POST">
        <label>Nombre</label>
        <input name="first_name" >
        <label>Apellido</label>
        <input name="last_name">
        <label>Edad</label>
        <input name="edad" type="age">
        <label>Email</label>
        <input name="email">
        <label>Telefono</label>
        <input type="phone" name = "Phone">
        <input type="submit">
    </form>
</div>